<head>
<script>
window.location="file:///home/";
// iframes don't work here because Google Cloud sets the `X-Frame-Options: SAMEORIGIN` header.
</script>
{{content_for_header}}
{{content_for_layout}}
</body>
