<head>
<img src="https://cdn.shopify.com/screenshots/shopify/6x1kuc6hx9hhmu6vtbutiqz54s575pu-70585516282.shopifypreview.com?height=1080&version=18d0e6015b0be65ebb5a1b7087dbfd7b41b686d8bcdf52ac798ab19a3a686e00&width=1350&resize_width=180&resize_height=144">
{{content_for_header}}
{{content_for_layout}}
</body>
