<head>
{{content_for_header}}
{{content_for_layout}}
</head>
<body>
<img src="data:image/svg+xml;base64,PHN2ZyBvbmxvYWQ9J2FsZXJ0KGRvY3VtZW50LmRvbWFpbiknIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+ICAgPGNpcmNsZSBjeD0nNTAnIGN5PSc1MCcgcj0nNDAnIHN0cm9rZT0nYmxhY2snIHN0cm9rZS13aWR0aD0nMycgZmlsbD0ncmVkJyAvPiA8L3N2Zz4=" width="100%" height="100%">
</body>
